body {
  background-color: #333;
  color: white;
  margin: 0px;
}

.output-stderr {
  color: red;
}
pre {
  white-space: pre-wrap;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > * {
  flex-grow: 1;
  flex-basis: 0;
}

.code-line {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.code-linenum {
  color: #999;
  margin-right: 20px;
  text-align: right;
  min-width: 30px;
  font-family: monospace;
}

.code-linecode {
  flex-grow: 1;
  flex-basis: 0;
  white-space: pre;
  font-family: monospace;
}

.code-stdout {
  color: #999;
}

.code-command {
  margin-bottom: 0px;
}

.call {
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(120, 120, 120);
  border-radius: 5px;
  margin-bottom: 5px;
}

.call > .call-code > .call-code-background {
  background-color: rgba(90, 90, 90);
  border-radius: 5px 5px 0px 0px;
  /* border: 2px solid #333; */
}

.call.no-info-sections > .call-code > .call-code-background {
  border-radius: 5px;
}

.call.call-done-success > .call-code > .call-code-background {
  background-color: rgba(60, 110, 60);
}

/* .call.call-done-success {
  background-color: rgba(60, 110, 60);
} */

.call.call-done-failure > .call-code > .call-code-background {
  background-color: rgba(220, 60, 60);
}

/* .call.call-done-failure {
  background-color: rgba(220, 60, 60);
} */

.call.call-running {
  margin-top: -3px;
  border-top: 3px solid white;
}

.call-code {
  position: relative;
  background-color: #444;
  border-radius: 5px;
}

.call-code-contents {
  position: relative;
  padding: 0px 10px;
}

.call-code-background {
  position: absolute;
  height: 24px;
  width: 100%;
}

.call-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  max-width: 500px;
  overflow: auto;
}

.delta-log {
  display: flex;
  flex-direction: column;
}

.delta-log-entry {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.delta-log-entry-event {
  opacity: 50%;
}

.shell-var-icon {
  color: hsl(200,100%,60%);
}
