html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #1F1F1F;
  /* background-color: #333; */
  color: white;
  margin: 0px;
  padding: 40px;
  line-height: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Base style for links */
a {
  color: #4da6ff;
}

/* Style for links on hover and focus for better accessibility */
a:hover, a:focus {
  color: #ffffff;
  text-decoration: underline;
}

/* Style for visited links */
a:visited {
  color: #BFA2DB;
}

.output-stderr {
  color: red;
}

pre {
  white-space: pre-wrap;
  margin: 0px;
  padding: 0px;
}

.line {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-bottom: 5px;
}

.line__num {
  color: #999;
  margin-right: 20px;
  text-align: right;
  min-width: 30px;
  font-family: monospace;
}

.line__contents {
  flex-grow: 1;
  flex-basis: 0;
  white-space: pre;
  font-family: monospace;
}

.line__calls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  font-family: monospace;
}

.line__calls .call {
  margin-bottom: 2px;
  margin-right: 2px;
}

.trace.detailsMode-grid {
  display: grid;
  grid-template-columns: fit-content(0%) auto auto;
  gap: 0px;
}

.trace.detailsMode-grid .line {
  display: contents;
}

.trace.detailsMode-grid .line__num {
  grid-column: 1;
}

.trace.detailsMode-grid .line__contents {
  grid-column: 2;
  min-width: 0;
  overflow: hidden;
}

.trace.detailsMode-grid .line__calls {
  grid-column: 3;
  margin-left: 20px;
}

.call {
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(120, 120, 120);
  border-radius: 5px;
  margin-bottom: 5px;
}

.call > .call__code > .call__code-background {
  background-color: rgba(90, 90, 90);
  border-radius: 5px 5px 0px 0px;
  /* border: 2px solid #333; */
}

.call.call--no-info-sections > .call__code > .call__code-background {
  border-radius: 5px;
}

.call.call--done-success > .call__code > .call__code-background {
  background-color: hsl(120, 29%, 15%);
}

/* .call.call-done-success {
  background-color: rgba(60, 110, 60);
} */

.call.call--done-failure > .call__code > .call__code-background {
  background-color: hsl(0, 70%, 22%);
}

/* .call.call-done-failure {
  background-color: rgba(220, 60, 60);
} */

.call.call--running {
  margin-top: -3px;
  border-top: 3px solid white;
}

.call__code {
  position: relative;
  background-color: #444;
  border-radius: 5px;
}

.call__code-contents {
  position: relative;
  padding: 0px 10px;
}

.call__code-background {
  position: absolute;
  height: 22px;
  width: 100%;
}

.call__info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  max-width: 500px;
  overflow: auto;
}

.line__calls .call__info {
  padding: 5px;
}

.call__info-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 0fr;
  transition: grid-template-rows 0.3s ease-out, grid-template-columns 0.1s ease-out 0.3s;
}

.call__info-wrapper.open {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  transition: grid-template-rows 0.3s ease-out 0.1s, grid-template-columns 0.1s ease-out;
}

.info-entry {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.info-entry__icon {
  width: 16px;
  height: 16px;
}

.info-entry__details {
  opacity: 50%;
  margin-left: 10px;
}

.info-entry__contents--no-wrap {
  white-space: nowrap;
}

.shell-var-icon {
  color: hsl(200,100%,60%);
}

.for-loop-iteration-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;  /* for slider stabilization */
}

.for-loop-iteration-header__label {
  font-size: 80%;
  font-weight: bold;
  background-color: #ccc;
  color: #444;
  padding: 0px 5px;
  width: fit-content;
}

.for-loop-iteration-header__expand-toggle {
  visibility: hidden;
  cursor: pointer;
  padding: 0px 5px;
  display: flex;
}

.for-loop-iteration-header:hover:not(.for-loop-iteration-header--slider-is-dragging) .for-loop-iteration-header__expand-toggle {
  visibility: visible;
}

.for-loop-iteration-header__slider {
  margin: 0px 15px;
  padding: 0px;
}

.line.line--dead {
  color: #777;
}

.indented {
  display: flex;
  flex-direction: row;
}
